.savedListTitle{
  font-weight: bold;
  color:rgb(255, 208, 0);
  font-size: larger;
}

.center{
  top: 0px;
  margin: auto;
  width: 640px;
  height: 304px;
  /* padding: 10px; */
  /* border: 3px solid green; */
}

.savedListTitle{
  text-decoration: #ffae00;
  font-weight: bold;
}
 

 /*div {
  border: 3px solid greenyellow;
} */

.stuffholder{
  text-align: left;
  padding: 10px;
  width: 50%;
  margin: auto;
  border: 3px;
}

.new-list-element{
  list-style-type: none;
}

li{
  list-style-type: none;

}
#heading{
  text-align: center;

}
#random-button{
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  /* margin: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 25%;
  /* border: 3px solid green; */
  /* padding: 2px; */ 
  /* text-align: center*/
}

.pushingtotheside {
  margin: 5px;
  /* margin-right: 15 px; */
  /* margin-left: 40px; */
  /* margin-top: 90px;
  margin-bottom: 200px; */
}



.banner {
  width: 100px;
  height: 100px;
}

body {
  margin: 0px;
  color:rgb(255, 0, 234);
  background-color: #00004B;
  background-image: url("../images/background.jpg");
  background-size:100% auto;
}

.jumbotron{
  color: rgb(165, 21, 21);
  background-color: #ff0000;
}

/*div {
}*/

.left {
  float: left;
  width: 25%;
  padding-right: 15px;
}

.right {
  float: right;
  width: 25%;
  padding-left: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.ending {
opacity: .50;
text-align: center;
font-size: 12px;
color: white;
}
a {
  color: hotpink;
}


img {
  width: 50%;
  height: auto;
}



.bgimg {
  background-image: url('../images/scaledlogo.png');
  background-repeat: no-repeat;
  background-position: center; 
  position: relative;
 
}


#parent {
  display: flex;
  width: 500px;
  margin: auto;

}
#narrow {
  width: 50%;
  /* Just so it's visible */
}
#wide {
  flex: 1;
  /* Grow to rest of container */

  /* Just so it's visible */
}



/* #header {
  position: relative;
  min-height: 150px;
}

#header-content {
  position: absolute;
  bottom: 0;
  left: 0;
}

#header, #header * {
  background: rgba(40, 40, 100, 0.25);
} */

.child {

  height:220px;
  margin:5px;}


  .thirds1{
    float: left;
    width: 250px;
  }
  .thirds3{
    text-align: right;
    float: right;
    width: 213px;
  }